@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html {
    font-size: 25px;
}
* {
    box-sizing: border-box;
  }

.bodyclass {
    max-width: 1920px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    font-family: 'Roboto', sans-serif;
}
.clearfix {
    overflow: auto;
}

.topnav {
    display:flex;
    background-color: black;
    border: 1px solid black;
    box-sizing: border-box;
}
.flex-nav-left {
    display:flex;
    width:80%;
    flex-direction: row;
}
.flex-nav-right {
    display:flex;
    flex-direction:row;
    width:20%;
}


.grid-container {
    background:#eee;
    padding: 1em;
    display: grid;
    grid-template-columns: 2fr, 1fr;
    grid-gap: 30px;
    border: 1px solid black;
}

.grid-item {
    border: 1px solid black;
}
.grid-item-1 {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    font-family: 'Roboto', sans-serif;
}

.grid-item-2 {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    font-family: 'Roboto', sans-serif;
}
.grid-flexitem-3 {
    grid-row: 1 / span 3;
    grid-column: 2 / span 2;
    border: 1px solid black;
    font-family: 'Roboto', sans-serif;
}
.flex-container {
    display: flex;
    flex-direction: column;
}
.grid-item-3 {
    font-family: 'Roboto', sans-serif;
    border:1px solid black;
}
.grid-item-4 {
    font-family: 'Roboto', sans-serif;
    border:1px solid black;
}
.grid-item-5 {
    font-family: 'Roboto', sans-serif;
    border:1px solid black;
}

/* .grid-item-3 {
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
}
.grid-item-4 {
    grid-row: 2 / span 1;
    grid-column: 3 / span 1;
}
.grid-item-5{
    grid-row: 3 / span 1;
    grid-column: 3 / span 1;
} */

.pic-card {
    border: 1px solid black;
}
.realimg {
    width: 30em;
    height: 15em;

}
.footer {
    display:flex;
    justify-content: center;
    border: 1px solid black;
}